<!DOCTYPE html>
<html lang="en-us" ng-app="myApp">
    <head>
        <title>AngularJS</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">

        <!-- CSS and bootstrap, fontawesome via CDN -->
        <link rel="stylesheet" type='text/css' href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro'  >
        <link rel="stylesheet" type='text/css' href="stylesheets/style.css" />
        <link rel="stylesheet" type='text/css' href="stylesheets/venue.css" />
        
        <!-- load angular via CDN -->
        <script src="javascripts/angular.js"></script>
        <script src="javascripts/angular-route.js"></script>
        
        <!-- Angular App -->
        <script src="ngConfig.js"></script>
        
        <!-- Services -->
        <script src="venue/venueService.js"></script>
        
        <!-- Controllers -->
        <script src="controllers/mainController.js"></script>
        <script src="venue/venueController.js"></script>
        <script src="venue/venueDirectives.js"></script>
        <script src="events/eventDirectives.js"></script>
        
    </head>
    <body data-ng-controller="venueController">

        <header>
			<nav class="navbar navbar-dark bg-primary">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#/">Venues</a>
                    </div>

                    <ul class="nav navbar-nav">
                        <li><a href="#/"><i class="fa fa-home"></i> Nowhere</a></li>
                    </ul>
                </div>
			</nav>
		</header>

        <div class="container">

            <div ng-view></div>
            
		</div>
        
        <div class="container">
            <footer>
                <venue-menu
                           active-venue-id="{{ activeVenueId }}"
                            saveActiveVenue="{{ saveActiveVenue }}">
                </venue-menu>
            </footer>
        </div>
    </body>
</html>