<!DOCTYPE html>
<html lang="en-us" ng-app="myApp">
    <head>
        <title>Deskvibe Admin Panel</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">

        <!-- CSS and bootstrap, fontawesome via CDN -->
        <link rel="stylesheet" type='text/css' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro'  >
        <link rel="stylesheet" type='text/css' href="stylesheets/style.css" />
        <link rel="stylesheet" type='text/css' href="stylesheets/venue.css" />
        
        <!-- load angular via CDN -->
        <script src="javascripts/angular.min.js"></script>
        <script src="javascripts/angular-route.min.js"></script>
        <script src="javascripts/ui-bootstrap-tpls-1.3.3.min.js"></script>
        
        <!-- Angular App -->
        <script src="ngConfig.js"></script>
        
        <!-- Directives -->
        <script src="event/eventDirectives.js"></script>
        <script src="venue/venueDirectives.js"></script>
        <script src="input/inputDirectives.js"></script>
        
        <!-- Filters -->
        <script src="filter/filters.js"></script>
        
        <!-- Services -->
        <script src="venue/venueService.js"></script>
        
        <!-- Controllers -->
        <script src="venue/venueController.js"></script>
        
    </head>
    <body data-ng-controller="venueController">

        <header>
			<nav class="navbar navbar-dark bg-primary">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#/">Venues</a>
                    </div>

                    <ul class="nav navbar-nav">
                        <li><a href="#/"><i class="fa fa-home"></i></a></li>
                    </ul>
                </div>
			</nav>
		</header>

        <div class="container">

            <div ng-view></div>
            
		</div>
        
        <div class="container">
            <footer>
                <div class="collapse" id="exCollapsingNavbar">
                    <div class="bg-inverse p-a-1">
                    <h4>Collapsed content</h4>
                    <span class="text-muted">Toggleable via the navbar brand.</span>
                </div>
                </div>
                    <nav class="navbar navbar-light navbar-fixed-bottom bg-faded">
                    <button class="navbar-toggler" type="button" 
                            data-toggle="collapse" 
                            data-target="#exCollapsingNavbar">
                        &#9776;
                    </button>
                </nav>
                <nav class="navbar navbar-light navbar-fixed-bottom" style="background-color: #fc6f70">
                    <venue-menu data-ng-show="activeVenueId">
                    </venue-menu>
                </nav>

            </footer>
        </div>
        
    </body>
</html>