<!DOCTYPE html>
<html lang="en-us" ng-app="myApp">
    <head>
        <title>Deskvibe Admin Panel</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">

        <!-- CSS and bootstrap, fontawesome via CDN -->
        <link rel="stylesheet" type='text/css' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro'  >
        <link rel="stylesheet" type='text/css' href="stylesheets/venue.css" />
        <link rel="stylesheet" type="text/css" href="stylesheets/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="stylesheets/google-autocomplete.css" />
        
    
        <!-- API -->
        <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCmNSL6HgFcjoxc9ae8CUy0auroSoYypzM"></script>
        
        <!-- load angular via CDN -->
        <script src="javascripts/angular/angular.js"></script>
        <script src="javascripts/angular/angular-route.js"></script>
        <script src="javascripts/google/google-autocomplete.min.js"></script>
        <script src="javascripts/jquery-2.2.4.min.js"></script>
        <script src="javascripts/bootstrap/bootstrap-3.3.6.min.js"></script>
        
        
        <!-- Angular App -->
        <script src="ngConfig.js"></script>
        
        <!-- Directives -->
        <script src="event/eventDirectives.js"></script>
        <script src="venue/venueDirectives.js"></script>
        <script src="input/inputDirectives.js"></script>
        
        <!-- Filters -->
        <script src="filter/filters.js"></script>
        
        <!-- Services -->
        <script src="venue/venueService.js"></script>
        
        <!-- Controllers -->
        <script src="venue/venueController.js"></script>
        
    </head>
    <body data-ng-controller="venueController">

        <header>
			<nav class="navbar navbar-dark nav-main">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#/"><strong class="fa fa-home">DeskVibe</strong></a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="#/"><i class="fa">Venue List</i></a></li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li><a data-ng-href="#/venue/add"><i class="fa">Add Venue</i></a></li>
                    </ul>
                    
                </div>
			</nav>
            <nav class="navbar navbar-light nav-under">
                <venue-menu data-ng-show="activeVenue">
                </venue-menu>
            </nav>
		</header>

        <div class="container">
            <h1 class="col-md-offset-5" data-ng-show="activeVenue != null">{{ activeVenue.name }}</h1>

            <div ng-view></div>
            
		</div>
        
        <div class="container">
            <footer>    
                
            </footer>
        </div>
    </body>
</html>