<ul class="list-group" id="venue_list">
    <% for(var i = 0; i < venue_list.length; i++) { %>
        <li class="list-group-item col-sm-11" value="<%= venue_list[i]._id %>"><%= venue_list[i].name %></li>
        <button value="<%= i%>" class="btn btn-danger pull-xs-right col-sm-1" id="venue_remove">X</button>
    <% } %>
</ul>


<button class="btn btn-success col-sm-12" data-toggle="modal" data-target="#venueModal" >Add venue</button>

<div class="modal fade" id="venueModal">
    <div class="modal-dialog" role="list">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add venue</h4>
            </div>
            <div class="modal-body">
                <form id="venue_form">
                    <fieldset class="form-group row">
                        <label for="name" class="col-sm-2 form-control-label">Company name</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" placeholder="DeskVibe" >
                        </div>
                    </fieldset>
                    <fieldset class="form-group row">
                        <label for="contact_name" class="col-sm-2 form-control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="contact_name" placeholder="Name" >
                        </div>
                    </fieldset>
                    <fieldset class="form-group row">
                        <label for="contact_email" class="col-sm-2 form-control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="contact_email" placeholder="Email" >
                        </div>
                    </fieldset>
                    <fieldset class="form-group row">
                        <label for="Address" class="col-sm-2 form-control-label">Address</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="search_text" placeholder="Search address" >
                        </div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="search_country" placeholder="Country" value="Norway">
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-primary" id="search">Search</button>
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-4">
                            <input disabled type="text" class="form-control" id="street" placeholder="Address" >
                        </div>
                        <div class="col-sm-2">
                            <input disabled type="text" class="form-control" id="street_number" placeholder="Number">
                        </div>

                        <div class="col-sm-2">
                            <input disabled type="number" class="form-control" id="postal_code" placeholder="Post number" >
                        </div>
                        <div class="col-sm-2">
                            <input disabled type="text" class="form-control" id="postal_town" placeholder="City" >
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-2">
                            <input disabled type="text" class="form-control" id="county" placeholder="County" >
                        </div>
                        <div class="col-sm-2">
                            <input disabled type="text" class="form-control" id="state" placeholder="State" >
                        </div>
                        <div class="col-sm-2">
                            <input disabled type="text" class="form-control" id="country" placeholder="Country" >
                        </div>
                        <div class="col-sm-2">
                            <input disabled type="text" class="form-control" id="lat" placeholder="Latitude" >
                        </div>
                        <div class="col-sm-2">
                            <input disabled type="text" class="form-control" id="lng" placeholder="Longitude">
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="venue_add">Add venue</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="listModal">
    <div class="modal-dialog" role="list">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Search list</h4>
            </div>
            <div class="modal-body">
                <table class="table table-hover" id="modal-table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Address</th>
                    </tr>
                    </thead>
                    <tbody id="search-results">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->