
<form id="venue_form">
    <fieldset class="form-group row">
        <label for="venues" class="col-sm-2 form-control-label">Offices</label>
        <div class="col-sm-10">
            <button type="button" class="btn btn-primary col-sm-12" data-toggle="modal" data-target="#officeModal">Add office</button>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-10" id="venue_list">
            <% $.each( venue_active.offices, function(i, data) { %>
                <%= createVenueCard(i, data) %>
            <% }); %>
        </div>
    </fieldset>
</form>

<div class="modal fade" id="officeModal">
    <div class="modal-dialog" role="list">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add venue</h4>
            </div>
            <div class="modal-body">
                <form class="venue-form" id="office_form">
                    <input type="text" id="office_id">
                    <fieldset class="form-group row">
                        <label for="venue_type" class="col-sm-2 form-control-label">Type</label>
                        <div class="col-sm-10">
                            <select id="office_type" class="form-control">
                                <option>Open space</option>
                                <option>Flex-/fixed desk</option>
                                <option>Closed office</option>
                                <option>Meeting room</option>
                            </select>
                        </div>
                    </fieldset>
                    <fieldset class="form-group row">
                        <label for="venue_type" class="col-sm-2 form-control-label">Seats</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="office_seats">
                        </div>
                    </fieldset>
                    <fieldset class="form-group row">
                        <label for="venue_type" class="col-sm-2 form-control-label">Details</label>
                        <div class="col-sm-10">
                            <textarea type="text" id="office_description" class="form-control"></textarea>
                        </div>
                    </fieldset>
                    <fieldset class="form-group row">
                        <label for="venue_price" class="col-sm-2 form-control-label">Prices</label>
                        <div class="col-sm-2"></div>
                        <div class="input-group col-sm-10">
                            <span class="input-group-addon">Day</span>
                            <input type="number" id="office_price_day" class="form-control" placeholder="eg. 100">
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="input-group col-sm-10">
                            <span class="input-group-addon">Week</span>
                            <input type="number" id="office_price_week" class="form-control" placeholder="eg. 500">
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="input-group col-sm-10">
                            <span class="input-group-addon">Month</span>
                            <input type="number" id="office_price_month" class="form-control" placeholder="eg. 2000">
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="venue_add_office">Add venue</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#officeModal").on("hidden.bs.modal", function () {
        $(':input','#office_form')
                .not(':button, :submit, :reset, :hidden')
                .val('')
                .removeAttr('checked')
                .removeAttr('selected');
    });
</script>