
<script type="text/javascript">
    if(venue_active) {
        $.each(venue_active.tags, function(i, data) {
            addTag(data);
        })
    }



</script>

<form id="venue_form">

    <fieldset class="form-group row">
        <label for="tags" class="col-sm-2 form-control-label">Tags</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="tag" placeholder="Add tags">
        </div>
        <button type="button" class="btn btn-success col-sm-2" id="add_tag">Add tag</button>
        <div class="col-sm-2"></div>
        <div class="col-sm-10" id="tag_list"></div>
    </fieldset>
    <fieldset class="form-group row" id="amenities_list">
        <label for="amenities" class="col-sm-2 form-control-label">Amenities</label>
        <div class="col-sm-10">
        <%
        for( var i = 0; i < amenities.length; i++ ) {
            var checked = "";
            for(var j = 0; j < venue_active.amenities.length; j++) {
                if(venue_active.amenities[j] === amenities[i]) {
                    checked = "checked";
                }
            }
        %>
            <input <%= checked %> type="checkbox" class="amenities" value="<%= amenities[i] %>"><%= amenities[i] %><br>
        <% } %>

        </div>
    </fieldset>
    <button type="button" class="btn btn-primary col-sm-2" id="submit_A_T">Submit</button>
</form>