<button class="btn btn-success col-sm-12" data-ng-click="addVenue()">Add venue</button>

<a data-ng-href="#/" class='btn btn-warning col-sm-12' >Back to list</a>

<venue-info class="col-sm-12"
               venue="emptyVenue"
                get-google-data-function="getGoogleData(address)">
                <a venue-list-item 
                   data-ng-repeat="item in googleSearchList"
                   header="{{ item.formatted_address }}"
                   data-ng-click="selectAddress($index)"></a>
</venue-info>



