<button class="btn btn-success col-sm-12" data-ng-init="check" data-ng-click="addVenue()">Add venue</button>

<venue-info class="col-sm-12"
            venue="emptyVenue"
            update-position-data="updatePositionData(venue, address)"
            get-google-data-function="getGoogleData(venue, address)">
</venue-info>

<div class="col-sm-12">
    <a venue-list-item 
                     data-ng-repeat="listItem in googleSearchList"
                    data-ng-click="updatePositionData(activeVenue, listItem)"
                    header="{{listItem.formatted_address}}">
    </a>
</div>




