<h1>Details</h1>

<form id="venue_form">

    <!-- COMPANY INFO -->
    <h2>Company Info</h2>
    <fieldset class="form-group row">
        <label for="type" class="col-sm-2 form-control-label">Info</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" id="type" placeholder="Coworking space or other" data-ng-model="activeVenue.type">
        </div>
    </fieldset>

    <fieldset class="form-group row">
        <label for="expertise" class="col-sm-2 form-control-label">Expertise</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="expertise" placeholder="Expertise" data-ng-model="activeVenue.expertise">
        </div>
    </fieldset>

    <fieldset class="form-group row">
        <label for="sqm" class="col-sm-2 form-control-label">Sqm</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="sqm" placeholder="Eg. 50" data-ng-model="activeVenue.sqm">
        </div>
    </fieldset>

    <fieldset class="form-group row">
        <label for="description" class="col-sm-2 form-control-label">Description</label>

        <div class="col-sm-10">
            <textarea class="form-control" id="description" rows="4" data-ng-model="activeVenue.description"></textarea>
        </div>
    </fieldset>

    <fieldset class="form-group row">
        <label for="open_hours" class="col-sm-2 form-control-label">Open hours</label>
        <div class="col-sm-5">
            <input type="checkbox" data-ng-model="detailsSameDay"> Same monday through friday?
        </div>
        <div class="col-sm-5">
            <input type="checkbox" data-ng-model="activeVenue.open_all_hours" data-ng-click="detailsOpenAllHours()"> Open 24/7
        </div>
        
        <div class="col-sm-10" id="open_hour_list" data-ng-hide="activeVenue.open_all_hours">
            
            <venue-open-hours day="detailsOpenHours" 
                              data-ng-show="detailsSameDay===true">
            </venue-open-hours>
        
            <venue-open-hours data-ng-repeat="day in activeVenue.open_hours track by $index"
                              data-ng-show="detailsSameDay===false || $index > 4"
                              day="day" >
            </venue-open-hours>
        </div>
    </fieldset>
</form>
