<div class="modal fade" id="ShopModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">

                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators" id="buy-form-carousel-indicators">

                        <!-- Jquery will add content of the carousel  -->
                    </ol>
                    <div class="carousel-inner" role="listbox" id="buy-form-carousel-image">
                        <!-- Jquery will add content of the carousel  -->
                    </div>
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="icon-prev" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="icon-next" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <form id="buy-form">

                    <input hidden type="text" class="form-control" id="itemid">

                    <fieldset class="form-group row">
                        <label for="type" class="col-sm-2 form-control-label">Detaljer</label>
                        <div class="input-group col-sm-10" id="buy-form-details"></div>
                    </fieldset>

                    <fieldset class="form-group row">
                        <label for="type" class="col-sm-2 form-control-label">Kjøp/Bud</label>
                        <div class="input-group col-sm-10">
                            <select class="form-control" id="buy-type">
                                <option value="buy">Kjøp</option>
                                <option value="bid">Bud</option>
                            </select>
                        </div>
                    </fieldset>

                    <fieldset class="form-group row">
                        <label for="price" class="col-sm-2 form-control-label">Pris</label>
                        <div class="input-group col-sm-10">
                            <div class="input-group-addon">NOK</div>
                            <input type="text" class="form-control" id="buysum" placeholder="Pris">
                            <div class="input-group-addon" id="currentBid">Current bid</div>
                        </div>
                    </fieldset>

                    <fieldset class="form-group row" id="BidTime">
                        <label for="BidTimeLeft" class="col-sm-2 form-control-label">Tid igjen</label>
                        <div class="input-group col-sm-10">
                            <div class="input-group-addon" id="BidTimeLeft">6 Dager</div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Lukk</button>
                <button type="button" class="btn btn-primary" id="kjop"></button>
            </div>
            <div class="modal-body">
                <fieldset class="form-group row">
                    <label for="CommentField" class="col-sm-2 form-control-label">Kommenter</label>
                    <div class="input-group col-sm-7">
                        <input type="text" class="form-control" id="CommentField" placeholder="Spør selger om noe">
                    </div>
                    <div class="input-group col-sm-2">
                        <button type="button" class="btn btn-info" id="AddComment">Kommenter</button>
                    </div>
                </fieldset>
                <fieldset id="comments">

                </fieldset>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="AddItemModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Legg til produkt</h4>
            </div>
            <div class="modal-body">
                <form id="addItemForm">
                    <div class="form-group row">
                        <input hidden type="text" class="form-control" id="addItemToken">
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-sm-2 form-control-label">Navn</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" placeholder="Produkt navn">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="type" class="col-sm-2 form-control-label">Type</label>
                        <div class="col-sm-10">
                            <select class="c-select form-control" id="type">
                                <option selected>Velg type</option>
                                <option value="Dekken">Dekken</option>
                                <option value="Bitt">Bitt</option>
                                <option value="Belegg">Belegg</option>
                                <option value="Hodelag">Hodelag</option>
                                <option value="Tøyler">Tøyler</option>
                                <option value="Lærgjord">Lærgjord</option>
                                <option value="Sjabrakk">Sjabrakk</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="type" class="col-sm-2 form-control-label">Bud?</label>

                        <div class="col-sm-5">
                            <div class="input-group">
                                    <span class="input-group-addon">
                                       <input type="checkbox" aria-label="Checkbox for following text input" id="bidActive">
                                    </span>
                                <input type="text" class="form-control" aria-label="Text input with checkbox" id="startbid" placeholder="Startbud">
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="startbidtime" placeholder="Tid i dager">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="price" class="col-sm-2 form-control-label">Pris</label>
                        <div class="input-group col-sm-10">
                            <div class="input-group-addon">NOK</div>
                            <input type="text" class="form-control" id="price" placeholder="Pris">
                            <div class="input-group-addon">.00</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="details" class="col-sm-2 form-control-label">Detaljer</label>
                        <div class="input-group col-sm-10">
                            <textarea class="form-control" id="details" rows="4"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2 form-control-label">
                            <label for="images" class=" pull-xs-left">Bilder</label>
                        </div>
                        <div class="input-group col-sm-10">
                            <input type="file" class="form-control-file" id="image_file" name="image_file">
                            <small class="text-muted">Last opp bilder av produktet</small>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div id="AddItemWarning" class="alert alert-danger pull-xs-left" role="alert"></div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Lukk</button>
                <button type="button" id="btn-additem" class="btn btn-primary">Lagre</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="userModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Bruker info</h4>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label for="username" class="col-sm-2 form-control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="username" value="<%= user.email%>">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="phone" class="col-sm-2 form-control-label">Telefon</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="userphone" value="<%= user.phone%>">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Lukk</button>
                <button type="button" class="btn btn-success" id="updateUser">Lagre</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="OverviewModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Bruker info</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Navn</th>
                        <th>Bud</th>
                        <th>Kontakt</th>
                    </tr>
                    </thead>
                    <tbody id="sold-item-list">

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Lukk</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="ContactModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Bruker info</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead class="thead-inverse">
                    <tr>
                        <th>#</th>
                        <th>Navn</th>
                        <th>Telefon</th>
                        <th>Email</th>
                    </tr>
                    </thead>
                    <tbody id="ContactModalData">

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Lukk</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->